<div class="card">
  <div class="card-header">
    <h3>
      <div class="fa fa-graduation-cap"></div>
      求人編集
    </h3>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @job %>
    \|
    <%= link_to 'Back', jobs_path %>
  </div>
</div>
