@import "responsive.css";
@import "style.css";

// top.html.erbに使用する画像
.mainpic {
  background-image: url("/images/hero/h1_hero.jpg");
}

.cv {
  background-image: url("/images/gallery/cv_bg.jpg");
}

// jobsのindex.html.erbに使用する画像
.jobAllPic {
  background-image: url("/images/hero/about.jpg");
}

//formに対するlayouts

.form-control.is-invalid {
  background-image: none;
}

.form-control.is-valid {
  background-image: none;
}

.input1 {
  width: 200px;
  height: 60px;
  margin-left: 10px;
}

.left-message {
  text-align: left;
}

.right-message {
  text-align: right;
}

// chat一覧レイアウト
.matching-index-page {
  max-width: 414px;
  margin: 0 auto;
}

.matching {
  &-title {
    font-weight: bold;
    font-size: 20px;
    color: #616161;
    margin: 8px 0 8px 16px;
  }
  &-num {
    font-size: 14px;
    color: #363636;
    margin: 8px 0 8px 16px;
  }
  &__list {
    min-height: 500px;
  }
  &__person {
    display: flex;
    align-items: center;
    margin: 16px;
    &-default-img {
      height: 74px;
      width: 74px;
      border-radius: 50%;
      // background-image: url("~profile_default_img_128.png");
      background-size: contain;
    }
    &-img {
      height: 74px;
      width: 74px;
      border-radius: 50%;
      object-fit: cover;
    }
    &-name {
      margin-left: 12px;
      font-weight: bold;
      color: #616161;
    }
  }
}

.chat-btn {
  background-color: #fd3378;
  border-radius: 30px;
  font-size: 12px;
}

@media (min-width: 414px) {
  .matching-index-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}

.match_link1 {
  color: #fd3378;
}

.match_link1:hover {
  color: #fd3378;
}

.line1 {
  border: #eeeeee 2px solid;
  min-height: 40px;
  padding: 10px;
}

// headerのレイアウト
.spaceRight {
  margin-right: 20px;
}

//enrollment show.html.erbのレイアウト

.chat-room-show-page {
  max-width: 414px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .chat-room {
    &__header {
      border-bottom: 1px solid #fafafa;
    }
    &__partner {
      display: flex;
      align-items: center;
      &-name {
        margin-right: 8px;
        font-weight: bold;
        color: #616161;
        vertical-align: middle;
      }
      &-default-img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        // background-image: url("~profile_default_img_128.png");
        background-size: contain;
      }
      &-img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__message-form {
      margin-top: auto;
      border-top: 1px solid #e8e8e8;
      padding: 24px 24px 0 24px;
      width: 100%;
      &_textarea {
        width: 100%;
        border: none;
        white-space: normal;
      }
    }
  }
}

.chat-message {
  &__partner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-default-img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      // background-image: url("~profile_default_img_128.png");
      background-size: contain;
      margin-left: 8px;
    }
    &-img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  &__content {
    margin: 4px 8px 4px;
    padding: 8px 12px;
    max-width: 70%;
    color: #555;
    font-size: 16px;
    border-radius: 8px;
    background: #f1f1f1;
  }
  &__current-user {
    display: flex;
    justify-content: flex-end;
  }
}

.main-color-bg {
  background: #fd3378;
  color: #fff;
}

textarea:focus {
  outline: none;
}

@media (min-width: 414px) {
  .chat-room-show-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}

.btn1 {
  background: #fb246a;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  padding: 25px 44px;
  border-radius: 0px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}

.text1 {
  width: 68%;
  min-height: 50px;
}

// jobのshowページのcss

.tag1 {
  display: inline-block;
  margin-right: 2px;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #0000ee;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
}

// messageの色変更
.color1{
  color:white;
}

.tag2 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #0000ee;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
}
