@import "price_rangs.css";
@import "responsive.css";
@import "style.css";

// top.html.erbに使用する画像
.mainpic {
  background-image: url("/images/hero/h1_hero.jpg");
}

.cv {
  background-image: url("/images/gallery/cv_bg.jpg");
}

// jobsのindex.html.erbに使用する画像
.jobAllPic {
  background-image: url("/images/hero/about.jpg");
}

//formに対するlayouts

.form-control.is-invalid {
  background-image: none;
}

.form-control.is-valid {
  background-image: none;
}

.input1 {
  width: 200px;
  height: 60px;
  margin-left: 10px;
}

.left-message {
  text-align: left;
}

.right-message {
  text-align: right;
}
