/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "trix/dist/trix";
@import "animate.min.css";
@import "bootstrap.min.css";
@import "flaticon.css";
@import "fontawesome-all.min.css";
@import "magnific-popup.css";
@import "nice-select.css";
@import "owl.carousel.min.css";
@import "price_rangs.css";
@import "responsive.css";
@import "slick.css";
@import "slicknav.css";
@import "style.css";
@import "themify-icons.css";

// top.html.erbに使用する画像
.mainpic {
  background-image: url("/images/hero/h1_hero.jpg");
}

.cv {
  background-image: url("/images/gallery/cv_bg.jpg");
}

// jobsのindex.html.erbに使用する画像
.jobAllPic {
  background-image: url("/images/hero/about.jpg");
}
